body {
  color: #212121;
  font-weight: 500;
  font-size: 17px;
  font-style: Roboto;
  z-index: 0;
}
.text-hidden {
  position: absolute;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  margin: auto;
  position: inherit;
}

.page-header {
  max-width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  flex-direction: row;
  color: #212121;
  align-items: center;
}
/* Логотип */
.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  cursor: pointer;
}
.logo__text {
  color: #2196f3;
}
.logo__subtext {
  color: #212121;
}
.logo__subtext-white {
  color: #fff;
}
/* Навигация */
.page-nav {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.nav {
  padding-left: 93px;
  display: flex;
  flex-direction: row;
}
.nav__item {
  padding: 0px 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.nav__item .nav__link {
  color: #212121;
}
.nav__item .nav__link:hover {
  color: #2196f3;
}

.address {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.address__list {
  display: flex;
  flex-direction: row;
}
.address__item .address__link {
  color: #757575;
  /* padding: 0 25px; */
}
.address__item .address__link:hover {
  color: #2196f3;
}
.address__email {
  padding: 0 25px;
}

/* Main Block  */
.main-block {
  width: 100%;
  height: 600px;
  background: #2f303a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-block__text {
  width: 696px;
  height: 120px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.main-block__button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}
.btn {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.btn-primary {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Main Block  */

/* Feature block */
.feature-block {
  width: 100%;
  height: 100%;
  margin: 94px 0;
}
.feature-block__list {
  display: flex;
  flex-direction: row;
}
.feature-block__card {
  margin: 0px 15px;
  width: 270px;
  height: 101px;
}
.feature-block__title {
  padding-bottom: 10px;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;

  color: #212121;
}
.feature-block__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
/* Feature block */

.block-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/* Preview */
.preview {
  padding-top: 50px;
}
.preview__title {
  padding-bottom: 50px;
}
.preview__body {
  display: flex;
  flex-direction: row;
}
.preview__box {
  padding: 0px 15px;
}
.preview__img {
  width: 370px;
  height: 294px;
}
/* Preview */

/* team block */
.team {
  margin-top: 94px;
  height: 648px;
  background: #f5f4fa;
}

.team__title {
  padding: 94px 0px 50px 0px;
}
.team__body {
  display: flex;
  flex-direction: row;
}
.team__card {
  margin: 0px 15px;
  width: 270px;
  height: 368px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__img {
  width: 270px;
  height: 260px;
  padding-bottom: 30px;
  border-radius: 0px;
}
.team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  padding-bottom: 10px;
}
.team__job {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/* team block */

/* Page footer */
.page-footer {
  height: 252px;
  background: #2f303a;
}
.page-footer .logo {
  padding: 60px 0px 20px 0px;
}
.page-footer .address .address__list {
  display: flex;
  flex-direction: column;
}
.page-footer .address .address__list > * {
  margin: 4.5px 0;
}

.page-footer .address__sity {
  color: #fff;
}
.page-footer .address__email {
  padding: 0;
}

/* Page footer */
